<div class="footer">
  <Section class="box">
    <h1>Besoin d'aide?</h1>
    <span id ="ring">Contactez nous au 087/32 36 03!</span>
    <img id ="ring-img" src="image/telephone.png" alt='tel-img'>
  </Section>

  <section class="box">
    <h1>Un problème à signaler sur la page?</h1>
    <span id='mail'>Cliquez ici!</span>
    <img id ="mail-img" src="image/envelope.png" alt='mail-img'>


  </section>
</div>
