<section>
  <h2>Activités</h2>
  <p>Le territoire de l'arrondissement de Verviers est subdivisé en huit cantons qui sont chacun le siège d'une justice de paix.</p>

  <p>La justice de paix est une juridiction civile (pas d'affaires pénales), elle est notamment compétente pour des litiges d'ordre financier (facture,...) jusqu'à 5000 euros,  les problèmes de voisinage, de location (bail de résidence principale, bail commercial, bail à ferme, autres baux) et également en matière d'administration de la personne et des biens.
  Dans la plupart des cas elle tranche le litige par la voie d'un jugement.</p>
</section>

<section>
  <h2>Siège des justices de paix</h2>
  <p> Il y a une justice de paix par canton judiciaire (groupement de communes). Le juge de paix n’est pas seulement titulaire d’un canton, mais il est également nommé à titre subsidiaire dans chaque canton de l’arrondissement judiciaire. 
  La Belgique compte momentanément 187 justices de paix réparties sur 229 sièges. </p>
  
  <h2>Chambres et composition </h2>
  <p>Le juge de paix siège seul. Il est néanmoins assisté par un greffier lors des audiences.
  Pour plus d’informations sur la composition des justices de paix, consultez ci-dessous la rubrique « la magistrature assise ».</p> 
 
  <h2>Ministère public</h2>
  <p>Le juge de paix connaît uniquement des affaires civiles. Il n’examine dès lors pas des affaires pénales. Le ministère public n’est donc pas présent lors des audiences. </p> 

  <h2>Greffe</h2>
  <p> Pour plus d’informations sur le greffier et le greffe, consultez ci-dessous la rubrique « le greffier ».</p>

  <h2>Compétences</h2>
  <p>Vous trouverez ci-après un aperçu des compétences du juge de paix qui sont également appelées les compétences matérielles. </p>

  <ul> Les compétences matérielles du juge de paix peuvent être subdivisées en :
    <li>compétences générales ;</li>
    <li>compétences spéciales ;</li>
    <li>compétences exclusives ;</li>
    <li>mesures d’administration judiciaire.</li>
    <span>Pour plus d’informations sur ces différents types de compétences, voyez ci-dessous.</span>
  </ul> 
<p>Après établissement de la compétence matérielle, le juge de paix doit vérifier la compétence territoriale. Autrement dit, est-il compétent ou non sur le territoire en question. En effet, la loi prévoit un juge de paix pour chaque canton judiciaire.</p> 
</section>