
<h2>Téléphone</h2>
<span>087/32 36 03</span>

<h2>Fax</h2>
<span>087/32 36 06</span>

<h2>E-mail</h2>
<span>j.p.verviers1@just.fgov.be</span>

<h2>Adresse</h2>
<span>Rue du Tribunal, 4, 4800 VERVIERS</span>

