<section>
<h2>Activités</h2>
<p>
La justice de paix est une juridiction civile (pas d'affaires pénales), elle est notamment compétente pour des litiges d'ordre financier (facture,...) jusqu'à 5000 euros,  les problèmes de voisinage, de location (bail de résidence principale, bail commercial, bail à ferme, autres baux) et également en matière d'administration de la personne et des biens.
Dans la plupart des cas elle tranche le litige par la voie d'un jugement.
</p>
</section>

<section>
<h2>Heures d'ouverture</h2>
<p>De 8 h 30 à 12 h 30 et de 13 h 30 à 16 h.
</p>
</section>

<section>
<h2>Compétence territoriale</h2>
<ul>
<li>Verviers (nord de la Vesdre)</li>
<li>Olne</li>
<li>Dison</li>
<li>Pepinster</li>
<li>Herve</li>
</ul>
</section>

<section>
<h2>Responsable(s)</h2>
<ul>
<li> Madame HEINRICHS Chantal, Greffier en chef </li>
<li> Monsieur JACQUET Bernard, Juge de Paix</li>
</ul>
</section>

